@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap");
.button {
  flex: 1;
  min-width: calc(50% - 1rem);
  font-family: "Roboto Slab", serif;
  background-color: #d9d9d9;
  padding: 0.8rem 1.6rem;
  border-radius: 2rem;
  text-align: center;
  color: black;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    background-color: darken(#d9d9d9, 10%);
  }
}
